html {
  position: relative;
  min-height: 100%;
}

body{
    /*background-image:url("../img/metal-texture.jpg");*/
    background-attachment: fixed;
    background-size: cover;
    min-width: 500px;
    height: 100%;
    margin-bottom: 60px;
    background:linear-gradient(0deg,rgba(0,0,0,0.5),rgba(0,0,0,0.5)),url("../img/metal-texture.jpg");
    background-size:cover;

}

.footer{
    background-color: #000000;
    color: #E6E6FA;
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 60px;
}

.foot-content{
    min-width: 409px;
}
.add-info-container{
    position: absolute;
    z-index: 1;
    top: 20px;
    text-align: center;
    color: #fff;
    line-height: 21px;
    font-size: 12px;
    background: coral;
    width: 115px;
}

.no-copy{
    -webkit-user-select: none; /* Safari */
    -moz-user-select: none; /* Firefox */
    -ms-user-select: none; /* IE10+/Edge */
    user-select: none;
}

#header{
    font-size: 24px;
    font-family: Open Sans;
    color: #E6E6FA;
    -webkit-user-select: none; /* Safari */
    -moz-user-select: none; /* Firefox */
    -ms-user-select: none; /* IE10+/Edge */
    user-select: none;
}

#menu-item{
    font-size: 19px;
}

#navbarDropdown{
    color: white;
}

.text-center{
    color: #F5F5F5;
}

.section-top{
    margin-bottom: 20px;
    position: relative;
    left: 4%;

}

.product-item{
    height: 380px;
    background-color: white;
    position: relative;
    padding: 5px;
}

.section{
    margin: 20px;
}


.price-card{
    position: relative;
    left: 30%;
}

.prod-image{
    position: relative;
	padding-bottom: 100%;
	overflow: hidden;
}

.prod-image img {
	position: absolute;
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
	max-width: 100%;
	max-height: 100%;
	margin: auto;
	transition: transform .4s ease-out;
}

.product-name{
    position: relative;
    text-align: center;
}

.product-description-tabs{
    padding: 10px;
}

.navbar{
    min-width: 500px;
}

.footer{
    min-width: 500px;
}

.nav-link-product{
    background-color: darkseagreen;
    color: #e7f5dc;
}

.nav-link:hover{
    color: white;
}

* {box-sizing: border-box;}

.border {
  background: rgba(0,0,0,0.7);
  position: relative;
  width: 300px;
  margin: 20px auto;
  padding: 20px;
  height: 340px;
  color: white;
  border: 0px solid #dee2e6!important;
}

.discount-container {
  position: absolute;
    top: 15%;
    background: #63B76C;
    width: 30%;
    color: white;
    font-weight: 700;
    padding: 3px;
    text-align: center;
}


.wrap {
  position: relative;
 }

.product-wrap {
    position: relative;
}

.product-wrap:after {
  content: '';
  background: rgba(158,126,126, .5);
  position: absolute;
  left: 0;
  right: 0;
  bottom: 0;
  top: 0;
  opacity: 0;
  transform: scale(.3);
  transition: .3s ease-in-out;
}
.border:hover .product-wrap:after {
  opacity: 1;
  transform: scale(1);
}
.product-wrap a {
  display: block;
  text-decoration: none;
}
.product-wrap img {
  display: block;
  width: 100%;
  height: 200px;
}
.loop-action {
  position: absolute;
  left: 50%;
  top: 50%;
  opacity: 0;
  transform: translate(-50%, -50%);
  transition: .3s ease-in-out;
}
.border:hover .loop-action {opacity: 1;}
.loop-action a {
  text-decoration: none;
  display: block;
  border: 0.5px solid white;
  white-space: nowrap;
  text-transform: uppercase;
  padding: .5em 1em;
  font-size: 14px;
  line-height: 1.6;
  outline: none;
  position: relative;
  overflow: hidden;
  text-align: center;
  color: white;
  min-width: 160px;
  margin: 5px auto;
  transition: .3s ease-in-out;
}
.loop-action a:after {
  content: '';
  position: absolute;
  left: -220%;
  top: -500%;
  width: 140%;
  height: 1000%;
  transform: rotate(45deg);
  background: white;
  z-index: -1;
  transition: .3s ease-in-out;
}
.loop-action a:hover {color: black;}
.loop-action a:hover:after {left: 0%;}
.border:hover {border-color: #E6E6FA;}
.product-info {
    padding-top: 15px;
    font-size: 15px;
}
.stars {
  font-size: 14px;
}

.product-title {
  text-align: center;
  padding-top: 15px;

}

.product-title h3{
    font-size: 20px;
    /*font-weight: bold;*/
    font-family: 'Roboto Mono', monospace;
}

.price {
  padding-top: 5px;
  color: #162546;
  font-style: italic;
  font-weight: bold;
  text-align: center;
  margin-top: 15px;
}

.price h4{
    font-size: 18px;
}

.product-page-image{
    padding-top: 30px;
    height: 400px;
    width: 300px;
}

.text-prod-desc{
    border: 0;
    margin: 0;
    padding: 0;
    font-size: 100%;
}

.stock{
  color: #162546;
  font-style: italic;
  font-weight: bold;
  text-align: center;
  padding-top: 5px;
}

#info{
    position: sticky;
    height: 94%;
}


.container-prod {
    padding-top: 100px;
  margin: 0 auto;
  /*padding: 15px;*/
    height: 94%;
  display: flex;
}

/*!* Columns *!*/
.left-column {
  width: 50%;
  position: relative;
}

.right-column {
  width: 50%;
  margin-top: 5px;

}

/* Left Column */
.left-column img {

    position: relative;
  transition: all 0.3s ease;
}


/* Product Description */
.product-description {
  margin-bottom: 20px;
}
.product-description span {
  font-size: 12px;
  color: #358ED7;
  letter-spacing: 1px;
  text-transform: uppercase;
  text-decoration: none;
}

.product-description h1 {
  font-weight: 300;
  font-size: 52px;
  color: #43484D;
  letter-spacing: -2px;
}

.product-description p {
  font-size: 16px;
  font-weight: 300;
  color: #86939E;

}

.prod-name{
    text-align: center;
    background-color: #E6E6FA;
}

.price-prod{
    margin-top: 30px;
    background-color: #E6E6FA;
    width: 250px;
    text-align: center;
}

.description-prod{
    margin-top: 30px;
    background-color: #E6E6FA;
    text-align: left;
    padding: 15px}

.dropdown-item:focus {
  background-color: #86939E;
}

 /*---index---*/
.cor-wrap{
    margin-top: 76px;
    /*position: relative;*/

}

.cor-raw{
    /*position: relative;*/
    /*width: 100%;*/

}

#carouselExampleIndicators{
     overflow:hidden;
         /*width:100%;*/
         /*height: 100%;*/
         /*position: inherit;*/
         /*max-height: 50vh;*/

}


.carousel-inner{
    /*position: relative;*/
    /*height: 70vh;*/
}


.carusel-img{

}


.carusel-img img{
/*height: 100%;*/
    height: 100%;
    /*position: relative;*/
}

.carousel{
    /*position: relative;*/
    /*width: 100%;*/
}
/*--------------------*/
.carusel-border{
    width: 100%;
    height: 10vh;
    /*background-color: rgba(119, 136, 153, 0.7);*/
}

@media screen and (max-width: 600px) {
  .carusel-border {
      height: 4vh;
    /*visibility: hidden;*/
    /*display: none;*/
  }
}

.section-name{
    color: black;
    padding: 10px;
    font-family: 'Roboto Mono', monospace;
    position: relative;
    font-size: 200%;
    background-color: rgb(230,230,250);
    background-color: rgba(230,230,250, 0.8);
    text-transform: uppercase;
    filter:progid:DXImageTransform.Microsoft.gradient(startColorstr=#99000000, endColorstr=#99000000);
    /* For IE 8*/
    -ms-filter: "progid:DXImageTransform.Microsoft.gradient(startColorstr=#99000000, endColorstr=#99000000)";
}

.gallery-wrap .img-big-wrap img {
    height: 450px;
    width: auto;
    display: inline-block;
    cursor: zoom-in;
}

.gallery-wrap .img-small-wrap .item-gallery {
    width: 60px;
    height: 60px;
    border: 1px solid #ddd;
    margin: 7px 2px;
    display: inline-block;
    overflow: hidden;
}

.gallery-wrap .img-small-wrap {
    text-align: center;
}

.gallery-wrap .img-small-wrap img {
    max-width: 100%;
    max-height: 100%;
    object-fit: cover;
    border-radius: 4px;
    cursor: zoom-in;
}

.card{
    margin-top: 100px;
    margin-bottom: 100px;
}

.carusel{
    margin: 7%;
    /*overflow: auto;*/
}

.exzoom_preview{
}

.product-footer{
        bottom: 0px;
    position: fixed;
    width: 100%;
}

.b-layout__content{
    margin-bottom: 100px;
}

.loader {
    background: #000;
    /*background: radial-gradient(#222, #000);*/
    bottom: 0;
    left: 0;
    overflow: hidden;
    position: fixed;
    right: 0;
    top: 0;
    z-index: 99999;
}

.loader-inner {
    bottom: 0;
    height: 60px;
    left: 0;
    margin: auto;
    position: absolute;
    right: 0;
    top: 0;
    width: 100px;
}

.loader-line-wrap {
    animation:
		spin 2000ms cubic-bezier(.175, .885, .32, 1.275) infinite
	;
    box-sizing: border-box;
    height: 50px;
    left: 0;
    overflow: hidden;
    position: absolute;
    top: 0;
    transform-origin: 50% 100%;
    width: 100px;
}
.loader-line {
    border: 4px solid transparent;
    border-radius: 100%;
    box-sizing: border-box;
    height: 100px;
    left: 0;
    margin: 0 auto;
    position: absolute;
    right: 0;
    top: 0;
    width: 100px;
}
.loader-line-wrap:nth-child(1) { animation-delay: -50ms; }
.loader-line-wrap:nth-child(2) { animation-delay: -100ms; }
.loader-line-wrap:nth-child(3) { animation-delay: -150ms; }
.loader-line-wrap:nth-child(4) { animation-delay: -200ms; }
.loader-line-wrap:nth-child(5) { animation-delay: -250ms; }

.loader-line-wrap:nth-child(1) .loader-line {
    border-color: hsl(36, 20%, 90%);
    height: 90px;
    width: 90px;
    top: 7px;
}
.loader-line-wrap:nth-child(2) .loader-line {
    border-color: hsla(0, 0%, 1%, 0.99);
    height: 76px;
    width: 76px;
    top: 14px;
}
.loader-line-wrap:nth-child(3) .loader-line {
    border-color: hsl(60, 18%, 90%);
    height: 62px;
    width: 62px;
    top: 21px;
}
.loader-line-wrap:nth-child(4) .loader-line {
    border-color: hsl(0, 0%, 1%);
    height: 48px;
    width: 48px;
    top: 28px;
}
.loader-line-wrap:nth-child(5) .loader-line {
    border-color: hsl(330, 5%, 92%);
    height: 34px;
    width: 34px;
    top: 35px;
}

@keyframes spin {
    0%, 15% {
		transform: rotate(0);
	}
	100% {
		transform: rotate(360deg);
	}
}

#logo{
    height: 50px;
}

.scrolltop {
	display:none;
	width:100%;
	margin:0 auto;
	position:fixed;
	bottom:20px;
	right:10px;
}
.scroll {
	position:absolute;
	right:8%;
	bottom:60px;
	background:#b2b2b2;
	background:rgba(255,255,255,0.6);
	padding: 15px 15px 10px 15px;
	text-align: center;
	margin: 0 0 0 0;
	cursor:pointer;
	transition: 0.5s;
	-moz-transition: 0.5s;
	-webkit-transition: 0.5s;
	-o-transition: 0.5s;
}
.scroll:hover {
	background:rgba(230,230,250,1);
	transition: 0.5s;
	-moz-transition: 0.5s;
	-webkit-transition: 0.5s;
	-o-transition: 0.5s;
}
.scroll:hover .fa {
	padding-top:-10px;
}
.scroll .fa {
	font-size:30px;
	margin-top:-5px;
	margin-left:1px;
	transition: 0.5s;
	-moz-transition: 0.5s;
	-webkit-transition: 0.5s;
	-o-transition: 0.5s;
}

.thetop{
    position: absolute;
    top: 0px;
}

.anchor{
    padding-bottom: 20px;
}

.product-title h1{
    font-size: 24px;
}

.price h2{
    font-size: 20px;
}


.footer-link{
    padding-right: 100px;
}

.inf-cashe{
    margin-top: 200px;
    margin-bottom: 100px;
}

.info-text{
    background-color: rgba(0,0,0,0.6);
    padding: 15px;
    border-radius: 1px 1px 10px 10px;
    color: white;
}

.header-info h2{
    margin: 5px 5px 5px 15px;
}

.header-info{
    background-color: rgba(179, 138, 138, 0.8);
    padding: 12px;
    color: white;
    border-radius: 10px 10px 1px 1px;
}

select{
    width: 40px;
    margin-right: 100px;
    color: white;
    border: 0;
    text-transform: uppercase;
    border: none;
    outline: none;
    padding: 5px;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    background: url(../img/down.ico) 96% / 15% no-repeat black;
}

select option {
    text-transform: uppercase;
    margin: 40px;
    background: #86939E;
    color: #fff;
    text-shadow: 0 1px 0 rgba(0, 0, 0, 0.4);
}

select::-ms-expand {
    display: none; /* remove default arrow in IE 10 and 11 */
}

/* target Internet Explorer 9 to undo the custom arrow */
@media screen and (min-width:0\0) {
    select {
        background:none\9;
        padding: 5px\9;
    }

}

.container-404{
    margin-top:  135px;
    /*margin-bottom: 60px;*/
}

.container-404 img{
    padding: 20px;
    height: 400px;
    width: 600px;

}

.header-404{
    background-color: rgb(0, 0, 0);
    background-color: rgba(0, 0, 0, 0.6);
    filter:progid:DXImageTransform.Microsoft.gradient(startColorstr=#99000000, endColorstr=#99000000);
    /* For IE 8*/
    -ms-filter: "progid:DXImageTransform.Microsoft.gradient(startColorstr=#99000000, endColorstr=#99000000)";
    /*text-align: center;*/
    padding: 20px;
}

.help-404-text{
    background-color: rgb(0, 0, 0);
    background-color: rgba(0, 0, 0, 0.9);
    filter:progid:DXImageTransform.Microsoft.gradient(startColorstr=#99000000, endColorstr=#99000000);
    /* For IE 8*/
    -ms-filter: "progid:DXImageTransform.Microsoft.gradient(startColorstr=#99000000, endColorstr=#99000000)";
}

.container-500{
    margin-top: 135px;
}

.container-prod-details{
    margin-top: 30px;
    margin-bottom: 100px;
    background: rgba(250,250,250,0.8);
    padding: 30px;
    border-radius: 25px;
}

.right-col{
    text-align: left;
}

.prod-title-detail{
    font-family: 'Roboto Mono', monospace;
    padding-left: 20px;
    font-size: 160%;
}

.prod-stock-detail{
    font-style: italic;
    /*font-weight: bold;*/
    font-size: 100%;
    padding-left: 20px;
}

.prod-descr-detail{
    font-size: 100%;
    padding: 20px;
    font-family: 'Roboto Mono', monospace;
}

.prod-price-detail{
    font-size: 150%;
    padding-left: 20px;
}

.gallery{
    border-right: 1px solid #dee2e6!important;
    border-left: 1px solid #dee2e6!important;
}


.section-new{
    /*height: 500px;*/
    background-color: rgba(0,0,0,0.6);
    color: white;
    height: 100%;
}

.land-prod-header{
    padding-top: 100px;
    padding-left: 20px;
    padding-bottom: 20px;
    font-size: 200%;
    font-family:'Roboto Mono', monospace;
    text-transform: uppercase;
}

.cat-border{
    padding: 10px;
    width: 250px;
    margin: 20px auto;
    color: white;
    font-size: 150%;
    font-family: 'Roboto Mono', monospace;
}

.category-wrap{
    position: relative;
}

.category-wrap img {
  display: block;
  width: 100%;
  /*height: 200px;*/
}


.category-wrap img :hover {
  background: url("../img/metal-texture.jpg");
}


.cat-name{
    padding-top: 15px;
    color: white;
    font-size: 80%;
}

.wrap a{
    text-decoration: none;
}

/*.category-wrap:hover, .category-wrap:focus, .category-wrap:active {*/
  /*background: url("../img/more-info.png") no-repeat 50% 50%;*/
    /*!*filter: alpha(Opacity=25);*!*/
    /*!*opacity: 0.25;*!*/
 /*}*/

/*.category-wrap:hover img, .category-wrap:focus img, .category-wrap:active img  {*/
  /*background: transparent;*/
  /*!*visibility: hidden;*!*/
  /*opacity: 0.3;*/
/*}*/


.catalog-container{
    margin-top: 150px;
}

.product-page-path{
    padding:0px 10px 0px 10px;
    margin-top: 150px;
    /*text-align: center;*/
    background-color: rgba(0,0,0,0.7);
    color: white;
}

.product-page-path a{
    text-decoration: none;
    color: white;
}

.product-page-path a:hover{
   color: lightcyan;
}

.page-path{
    color: white;
    margin-bottom:15px;
    background-color: rgba(0,0,0,0.6);
    text-align: center;
    padding:0px 10px 0px 10px;
}

.page-path a{
    text-decoration: none;
    color: white;
}

.page-path a:hover{
    color: lightcyan;
}



/* change the background color */
.navbar-custom {
    background-color: black;
}
/* change the brand and text color */
.navbar-custom .navbar-brand,
.navbar-custom .navbar-text {
    color: rgba(255,255,255,.8);
}
/* change the link color */
.navbar-custom .navbar-nav .nav-link {
    color: rgba(255,255,255,.5);
}
/* change the color of active or hovered links */
.navbar-custom .nav-item.active .nav-link,
.navbar-custom .nav-item:focus .nav-link,
.navbar-custom .nav-item:hover .nav-link {
    color: #ffffff;
}



.gal-container{
    width: 100%;
    height: 100%;
}

ul.thumb{
    margin: 0 auto;
    padding: 0;
    float: left;
    width: 100%;
    margin-right: 5%;
    margin-left: 5%;
}

ul.thumb li{
    float: left;
    list-style: none;
    margin: 5px;
    width: 100px;
    height: 76px;
    overflow: hidden;
}

ul.thumb li img{
    margin-right: 5%;
    margin-left: 5%;
    width: 100%;
    height: 100%;
}

.imgBox{
    margin: 5px;
    overflow: hidden;
}

.imgBox img{
    margin-top: 5%;
    margin-right: 5%;
    margin-left: 5%;
    width: 90%;
<<<<<<< HEAD
    /*height: 300px*/
=======
    height: 350px
>>>>>>> 73d572ff68bb41f3ba611557cdcc2f491e212845

}

.wrap-info-page{
    font-family: 'Roboto Mono', monospace;
}