<!DOCTYPE html>
{% load static %}
{% load i18n %}
<html>
<head>
    {% block meta %}{% endblock %}
    <meta http-equiv="content-type" content="text/html; charset=UTF-8">
    <title>{% block title %}{% trans 'Аскор - Головна, контакти, продукція, товари, послуги, ціни' %}{% endblock %}</title>
    <meta name="keywords" content="{% block keywords %}{% trans 'Інформація про компанію, аскор, askor, продукція компанії аскор, телефон, запропоновані товари та послуги, ООО Компанія Аскор, транспортери на базі виделкових ланцюгів, ланцюги оцинковані круглозвенні, ланцюги вилчаті, конвеєри із зануреними скріпками' %}{% endblock %}">
    <meta name="description" content="{% block description %}{% trans 'Компанія Аскор - Головна сторінка, контактна інформація, товари, продукція та послуги підприємства ООО Підприємство Аскор, широкий вибір якісних транспортерів на базі виделкових ланцюгів, ланцюгів оцинкованих круглозвенних, ланцюгів виделкових, конвеєрів із зануреними скріпками за найкращою ціною. Гарантія якості' %}{% endblock %}">
    <link href="//maxcdn.bootstrapcdn.com/font-awesome/4.1.0/css/font-awesome.min.css" rel="stylesheet">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
    <link rel="shortcut icon" type="image/png" href="{% static 'favicon.ico' %}"/>
    <link rel="stylesheet" type="text/css" href="//fonts.googleapis.com/css?family=Open+Sans" />
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.7.2/css/all.css" integrity="sha384-fnmOCqbTlWIlj8LyTjo7mOUStjsKC4pOpQbqyi7RrhN7udi9RwhKkMHpvLbHG9Sr" crossorigin="anonymous">
    <link rel="stylesheet" href="{% static "css/style-contact-page.css" %}">
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
    <link href="https://fonts.googleapis.com/css?family=Roboto+Mono&display=swap" rel="stylesheet">
</head>
<body class="Site">
    <div class='thetop'></div>
    <div class="loader">
        <div class="loader-inner">
            <div class="loader-line-wrap">
                <div class="loader-line"></div>
            </div>
            <div class="loader-line-wrap">
                <div class="loader-line"></div>
            </div>
            <div class="loader-line-wrap">
                <div class="loader-line"></div>
            </div>
            <div class="loader-line-wrap">
                <div class="loader-line"></div>
            </div>
            <div class="loader-line-wrap">
                <div class="loader-line"></div>
            </div>
        </div>
    </div>

    <div class="wrapper">
        <div class="wrapper-content">
            {% include 'navbar.html' %}
                {% block content %}
                {% endblock content %}
        </div>
    </div>
    <script src="https://code.jquery.com/jquery-2.1.4.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js" integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy" crossorigin="anonymous"></script>
    <script>
       $(window).load(function() {
        $(".loader").delay(100).fadeOut().remove();
    });
    </script>
 <script>
       $(window).scroll(function() {
    if ($(this).scrollTop() > 70 ) {
        $('.scrolltop:hidden').stop(true, true).fadeIn();
    } else {
        $('.scrolltop').stop(true, true).fadeOut();
    }
});
        $('.scroll-button').on('click', function(e){
                $("html,body").animate({scrollTop:$(".thetop").offset().top},"1000");return false

            });
    </script>

<script type="text/javascript">
    $(document).ready(function(){
        $('.thumb a').mouseover(function (e) {
            e.preventDefault();
            $('.imgBox img').attr("src", $(this).attr("href"));
        })
    })
</script>
</body>
</html>
