{% load static %}
{% load i18n %}
<footer class="footer">
    <div class= "navbar navbar-inverse navbar-static-bottom" role="navigation">
        <div class="navbar-link pull-left">

        </div>
        <div class="navbar-text no-copy pull-right foot-content">
             <a class="footer-link" href="https://askor-company.prom.ua/"><img src="{% static 'img/prom.ua-link.png' %}" width="55"
   height="25" alt="Askor prom.ua link"></a>
            {% trans 'ООО "Компанія Аскор" 2012-2019'%}
        </div>
    </div>
</footer>