{% load static %}
<nav class="navbar navbar-expand-lg fixed-top  navbar-dark bg-dark head-room" id="general-nav">

     <a class="navbar-brand" href="/">
          <img itemprop="logo" class="no-copy" id="logo" src="{% static 'img/logo-footer.png' %}" alt="Askor-Logo">
     </a>

  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarSupportedContent">

    <ul class="navbar-nav mr-auto">
      <li class="nav-item dropdown" id="menu-item">
            <a class="nav-link dropdown-toggle no-copy" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
              Товары и услуги
            </a>
            <div class="dropdown-menu" aria-labelledby="navbarDropdown">
              <a class="dropdown-item no-copy external" href="/#anchor">КОНВЕЙЕРЫ С ПОГРУЖЕННЫМИ СКРЕБКАМИ (КПС)</a>
                <div class="dropdown-divider external"></div>
              <a class="dropdown-item no-copy external" href="/#anchor1">Цепи вильчатые</a><div class="dropdown-divider"></div>
              <a class="dropdown-item no-copy external" href="/#anchor2">Цепи круглозвенные оцинкованные</a><div class="dropdown-divider"></div>
              <a class="dropdown-item no-copy external"  href="/#anchor3">Транспортеры на базе вильчатых цепей</a>
            </div>
      </li>
      <li class="nav-item" id="menu-item">
            <a class="nav-link active no-copy external" href="/info">О нас</a>
      </li>
      <li class="nav-item" id="menu-item">
            <a class="nav-link active no-copy external" href="/contacts">Контакты</a>
      </li>
    </ul>

    <ul class="navbar-nav mr-auto">
        <li class="nav-link  external" style="color: white; "><i class="fa fa-mobile-alt" aria-hidden="true"></i> &nbsp +380965789693</li>
    </ul>
  </div>
</nav>