{% load static %}
{% load i18n %}
<nav class="navbar navbar-expand-lg fixed-top  navbar-dark navbar-custom head-room" id="general-nav">
     <a class="navbar-brand" href="/">
          <img itemprop="logo" class="no-copy" id="logo" src="{% static 'img/logo-navbar.png' %}" alt="Askor-Logo">
     </a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">
    {% if len_categories > 0 %}
      <li class="nav-item dropdown" id="menu-item">
            <a class="nav-link dropdown-toggle no-copy" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                {% trans 'Товари та послуги' %}
            </a>
            <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                {% for cat in product_categories %}
                    {% if cat.name in arr %}
                    <a class="dropdown-item no-copy external" href="{% url 'product_catalog' cat.id %}">{{ cat.name }}</a>{% if cat.name != last_category %}<div class="dropdown-divider"></div>{% endif %}
                    {% endif %}
                {% endfor %}
            </div>
      </li>
    {% endif %}
      <li class="nav-item" id="menu-item">
            <a class="nav-link active no-copy external" href="/info">{% trans 'Про компанію' %}</a>
      </li>
      <li class="nav-item" id="menu-item">
            <a class="nav-link active no-copy external" href="/contacts">{% trans 'Контакти' %}</a>
      </li>
    </ul>
    <ul class="navbar-nav mr-auto">
        <li class="nav-link  external" style="color: white; "><i class="fa fa-mobile-alt" aria-hidden="true"></i><span>&nbsp <span>+3809<img>6578<img>9693</span></span></li>
    </ul>
       <ul class="navbar-nav  no-copy">
            <form class="lang-form" action="{% url 'set_language' %}" method="post">
            {% csrf_token %}
            <input name="next" type="hidden" value="{{ redirect_to }}" />
            <select name="language" onChange="this.form.submit();">
                {% get_current_language as LANGUAGE_CODE %}
                {% get_available_languages as LANGUAGES %}
                {% for lang in LANGUAGES %}
                    <option class="decorated" value="{{ lang.0 }}" {% if lang.0 == LANGUAGE_CODE %} selected="selected"{% endif %}>
                        {% if lang.0 == 'uk' %}
                            ua
                        {% else %}
                           {{ lang.0 }}
                        {% endif %}
                    </option>
                {% endfor %}
            </select>
            </form>
    </ul>
  </div>
</nav>
