{% extends 'base.html' %}
{% load static %}
{#{% load cache %}#}
{% load i18n %}
{% block title %}{% trans 'Адреса, телефон, пошта, факс підприємства — «ООО "Підприємство Аскор"»' %}{% endblock %}
{% block keywords %}{% trans 'адреса, телефон, факс, сайт, пошта, ООО "Підприємство Аскор"' %}{%  endblock %}
{% block description %}{% trans 'Контактна інформація підприємства «ООО "Підприємство Аскор"».' %}{% endblock %}
{% block content %}
{#    {% cache 5000 contacts-cashe%}#}
    <div class="container wrapper contacts-cashe">
        <div class="container-fluid information">
            <div class="row justify-content-center">

                <div class="col-12 col-sm-12 col-md-8 col-lg-4">
                    <div class="box">
                        <div class="icon">
                            <div class="image"><i class="fa fa-envelope ico" aria-hidden="true"></i></div>
                            <div class="info">
                                <h3 class="title no-copy">{% trans 'ПОШТА' %}</h3>
                                <p>
                                    <i class="fa fa-envelope" aria-hidden="true"></i> askor2012@ukr.net
                                    <br>
                                    <br>
                                    <i class="fa fa-globe" aria-hidden="true"></i><a href="https://askor-company.prom.ua/"> askor-company.prom.ua</a>
                                </p>

                            </div>
                        </div>
                        <div class="space"></div>
                    </div>
                </div>

                <div class="col-12 col-sm-12 col-md-8 col-lg-4">
                    <div class="box">
                        <div class="icon">
                            <div class="image"><i class="fa fa-mobile-alt ico" aria-hidden="true"></i></div>
                            <div class="info">
                                <h3 class="title no-copy">{% trans 'КОНТАКТИ' %}</h3>
                                <p>
                                    <i class="fa fa-mobile-alt" aria-hidden="true"></i> &nbsp +380444516950
                                    <br>
                                    <br>
                                    <i class="fa fa-mobile-alt" aria-hidden="true"></i> &nbsp +380965789693
                            </div>
                        </div>
                        <div class="space"></div>
                    </div>
                </div>

                <div class="col-12 col-sm-12 col-md-8 col-lg-4">
                    <div class="box">
                        <div class="icon">
                            <div class="image"><i class="fa fa-map-marker-alt ico" aria-hidden="true"></i></div>
                            <div class="info">
                                <h3 class="title no-copy">{% trans 'АДРЕСА' %}</h3>
                                <p>
                                    <i class="fa fa-map-marker-alt" aria-hidden="true"></i> &nbsp {% trans 'Україна, Київ, вул. Глібова 7' %}
                                </p>
                            </div>
                        </div>
                        <div class="space"></div>
                    </div>
                </div>
            </div>
        </div>
    </div>
        {% include 'footer.html' %}
{#    {% endcache %}#}
{% endblock %}





