{% extends 'base.html' %}
{% load static %}
{% load i18n %}
{% block meta %}<meta name="google-site-verification" content="xKzBBF8m6I_CBRkixr_-zKFOyc90lidKF3vdG1xNjoA" />{% endblock %}
{% block content %}
<div class="cor-wrap">
    <div class="cor-raw">
         <div id="carouselExampleIndicators" class="carousel slide" data-ride="carousel" >
              <ol class="carousel-indicators">
                <li data-target="#carouselExampleIndicators" data-slide-to="0" class="active"></li>
                <li data-target="#carouselExampleIndicators" data-slide-to="1"></li>
              </ol>
              <div class="carousel-inner">
                <div class="carousel-item active">
                      <div class="carusel-img">
                          <img class="d-block w-100 no-copy" src="{% static 'img/slide-test-1.png' %}" alt="Askor chain first slide preview">
                      </div>
                </div>
                  <div class="carousel-item">
                     <div class="carusel-img">
                          <img class="d-block w-100 no-copy" src="{% static 'img/slide-test.png' %}" alt="Askor chain second slide preview">
                      </div>
                  </div>
              </div>

              <a class="carousel-control-prev" href="#carouselExampleIndicators" role="button" data-slide="prev">
                <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                <span class="sr-only">Previous</span>
              </a>
              <a class="carousel-control-next" href="#carouselExampleIndicators" role="button" data-slide="next">
                <span class="carousel-control-next-icon" aria-hidden="true"></span>
                <span class="sr-only">Next</span>
              </a>
        </div>
    </div>
</div>

<div class="index-border"></div>

<div class="catalog">
<div class="section-new">
    <div class="container">
        <div class="row">
        {% if len_products_images > 0 %}
            <div class="col-lg-12">
                <div class="land-prod-header no-copy">{% trans 'Продукція' %}</div>
            </div>
            {% for product_category in product_categories %}
                {% include 'landing/category-item.html' %}
            {% endfor %}
        {% endif %}
        </div>
    </div>
</div>
</div>

{% include 'footer.html' %}

<div class='scrolltop'>
    <div class='scroll icon scroll-button'><i class="fa fa-4x fa-angle-up"></i></div>
</div>
{% endblock %}
