{% extends 'base.html' %}
{% load static %}
{% load i18n %}
{#{% load cache %}#}
{% block title %}{% trans 'Про компанію | Інформація про підприємство «ООО "Підприємство Аскор"»' %}{% endblock %}
{% block description %}{% trans 'Інформація про підприємство «ООО "Підприємство Аскор"»'%}{% endblock %}
{% block keywords %}{% trans 'інформація про підприємство, компанія аскор, аскор, компанія askor, телефон, адреса, форма власності, запропоновані товари и услуги,  ООО "Підприємство Аскор"' %}{% endblock %}
{% block content %}
{#{% cache 5000 inf-cashe%}#}
<div class="container inf-cashe">
        <div class="row">
            <div class="col-lg-12">
                <div class="wrap-info-page">
                    <div class="header-info no-copy">
                      <h2>{% trans 'Про нас' %}</h2>
                    </div>
                    <div class="info-text">
                        {% blocktrans %}<p>Компанія Аскор з 2012 року в кооперації з провідними підприємствами України займається випуском тягових органів на базі вільчатих ланцюгів. Застосування сучасних технологій виготовлення, термообробка та контроль забезпечує високу якість наших транспортерів. На сайті Ви знайдете креслення і фотографії вироблених КПС (М) -200Т, КПС (М) -320Т, КПС (М) -500Т, КПС (М) -650Т на базі вильчатого ланцюга Р1-160. Вилка кована зі сталі 30ХГСА, скребки Ст3. Також наше підприємство готове виготовити тягові органи з ланцюгів інших марок сталі з наступним кроком: 100, 101,6, 102, 125, 142, 160, 200, 260. Ціна, умови поставки та оплата буде надана в найкоротші терміни після Вашого запиту.</p> {% endblocktrans %}
                        {% blocktrans %}<p>Також пропонуємо ланцюги круглозвенні, вантажні та тягові оцинковані методом електролітичного цинкування (холодний метод) різних діаметрів і розмірів ланки. Ланцюги виконані по DIN 763 і ТУ 12.0173856.015-88. Ланцюги виготовлені з застосуванням стикового контактного електрозварювання, мають "акуратний" додатково оброблений зварений шов. Крок ланцюгів відкалібрований, що дає можливість застосування в ланцюгових передачах. Високоякісна оцинковка дає можливість використання ланцюгів у відкритих умовах, а також у воді.</p> {% endblocktrans %}
                    </div>
                </div>
            </div>
        </div>
</div>
{#{% endcache %}#}
        {% include 'footer.html' %}
{% endblock %}
