{% extends 'base.html' %}
{% load static %}
{% load i18n %}
{% block title %}{{ product.product_name }}. {% trans 'Детальна інформація про товар/послугу та постачальника. Ціна та умови поставки' %}{% endblock %}
{% block description %}{{ product.product_name }}. {% trans 'Детальна інформація про товар/послугу та постачальника. Ціна та умови поставки' %}{% endblock %}
{% block keywords %}{{ product.keywords }}{% endblock %}
{% block content %}
<div class="container container-prod-details">
  <div class="row">
    <div class="col-md-6 gallery">
      <img class=" my-4 img-fluid" src="http://placehold.it/750x500" alt="">
    </div>

    <div class="col-md-6 right-col">
      <h1 class="my-4 prod-title-detail">{{ product.product_name }}</h1>
        <hr>
      <h3 class="my-3 prod-stock-detail">{{ product.in_stock }}</h3>
        <hr>
      <h3 class="my-3 prod-price-detail">{{ product.price}} грн/м</h3>
        <hr>
      <h3 class="my-3 prod-descr-detail">{{ product.description|linebreaks}}</h3>
        <h3></h3>
    </div>
  </div>
</div>

{% include 'footer.html' %}
{% endblock %}