{% extends 'base.html' %}
{% load static %}
{% load i18n %}
{% load currency %}
{%  currency_context  %}
{% load cache %}
{% block title %}{{ prod_cat.name }}{% trans 'продукція та товари «ООО "Компанія Аскор"»' %}{% endblock %}
{% block description %}{% trans 'Товари по категорії з фото та ціною «ООО "Компанії Аскор"»'%}{% endblock %}
{% block keywords %}{% trans 'Товари по категорії, продукція, фото, ціна «ООО "Компанії Аскор"»' %}{% endblock %}
{% block content %}
<div class="catalog">
    <div class="container catalog-container">
        <div class="row">
            <div class="page-path">
                <a href="/">Главная</a> / <a href="#">{{ prod_cat.name }}</a>
            </div>
            <div class="col-lg-12  no-copy">
            </div>
            {% for product_image in products_images_category %}
               {% include 'landing/product-item.html' %}
            {% endfor %}
        </div>
    </div>
</div>
{% include 'footer.html' %}
{% endblock %}
