{% load i18n %}
<div class="border">
  <div class="wrap">
        <div class="product-wrap">
          <a ><img itemprop="image" alt="{{ product_image.product.product_name }}" src={{ product_image.image.url }}></a>
        </div>
        <div class="loop-action">
          <a href="{% url 'product' product_image.product.id %}" class="add-to-cart">{% trans 'Деталі' %}</a>
        </div>
  </div>
    <div class="product-info">
      <div class="product-title" itemprop="name"><h3 >{{ product_image.product.product_name }}</h3></div>
      <div class="price"><h4>{% trans 'від' %} {{product_image.product.price}} грн/м</h4></div>
      <div class="stock">{{product_image.product.in_stock}}</div>
        {% if product_image.product.discount %}
                <div class="discount-container">
                      <span>{{ product_image.product.discount }}%</span>
                </div>
        {% endif %}
        {% if product_image.product.add_info != '0' %}
                <div class="add-info-container">
                      <span>{{ product_image.product.add_info}}</span>
                </div>
        {% endif %}
   </div>
</div>

